<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="nhibernateServiceBehavior" type="Wnn.Service.Host.NHibernateBehaviorExtensionElement, Wnn.Service.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>

		<behaviors>
			<serviceBehaviors>
				<behavior name="nhibernateServiceBehavior">
					<nhibernateServiceBehavior />
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="HttpEnableBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<services>
			<service name="Wnn.Service.BlogService" behaviorConfiguration="nhibernateServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8761/Services/" />
					</baseAddresses>
				</host>
				<endpoint address="Blog" binding="netTcpBinding" contract="Wnn.Service.Contract.ServiceContracts.IBlogService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>